

<div class="form-group msg-form">
  <%= form_for( [@conversation, @message], class: "d-flex" , remote: true ) do |form| %>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="message-new">
    <%= form.text_field :content, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off',placeholder: "Start a new message" %>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <button type="submit" class="create-message">
      <span><i class="bi bi-send"></i></span>
    </button>
    </div>


<% end %>
</div>

