<div style="padding-bottom: 40px">
  <%= form_for([replyable, Reply.new]) do |form| %>
    <% if @reply.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
          <% @reply.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id='avatar'>
      <%= user_avatar(current_user,'50px' ) %>
    </div>
    <div class="field" style="  margin-left: 50px; margin-right: 30px;">
      <%= form.text_area :content, placeholder: "Tweet your reply", class: "form-control tweet-field"%>
    </div>

    <div class="actions" style="padding: 15px" >
      <%= form.submit "Reply", class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
