
<body>
<div onclick="location.href='/replies/<%=reply.id%>';" style="cursor: pointer;" class="tweet-div">
      <div id='name'>
        <div onclick="event.stopPropagation();">
          <%= user_avatar(reply.user,'50px' ) %>
          <%= link_to reply.user.name, user_path(reply.user_id), class: "link-dark name" %>
          <small>@<%= reply.user.username  %></small>
        </div>
        <p><%= reply.content %></p>
      </div>

      <div id='buttons'>
        <div id='button'>
          <div id="reply">
            <%= button_to new_reply_reply_path(reply), method: :get, class:'reply_button' do %>
              <i class="bi bi-chat"></i>

            <% end %>
          </div>
          <small id="count"><%= reply.replies.count  %></small>
        </div>
        <% like = reply.likes.find_by(user_id: current_user) %>
        <div id='button'>
          <div id="like">
            <% if like.present? %>
              <%= button_to like_path(like), method: :delete , class:'like_button' do %>
                <i class="bi bi-heart-fill"></i>
              <% end %>
            <% else %>
              <%= button_to reply_likes_path(reply)  , class:'like_button' do %>
                <i class="bi bi-heart"></i>
              <% end %>
            <% end %>
          </div>
          <div id="count"> <%= reply.likes.count %></div>
        </div>

        <div id='button'>
          <div onclick="event.stopPropagation();" class="dropdown" id="like">

            <% retweet = (Tweet.all.find_by(user_id: current_user, content: nil, source_id: reply.id, source_type: 'Reply')) %>
            <% if retweet.present? %>
              <button class="retweet_button" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-arrow-repeat" style="color: #3ba954"></i>
              </button>
            <% else %>
              <button class="retweet_button" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-arrow-repeat" style="color: #3ba954"></i>
              </button>
            <% end %>
            <div id="count"> <%= Tweet.all.where(source_id: reply.id, source_type: 'Reply').count %></div>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <% if retweet.present?%>
                <li id="dropdown-button">
                  <%= button_to tweet_path(retweet), method: :delete ,class: "dropdown-item", type: "button" do %>
                    <i class="bi bi-arrow-repeat" style="color: #3ba954"></i>&ensp;Undo Retweet
                  <% end %>
                </li>
              <% else %>
                <li id="dropdown-button">
                  <%= form_with(model: Tweet) do |form| %>
                    <%= form.hidden_field :source_type, value: 'Reply' %>
                    <%= form.hidden_field :source_id, value: reply.id %>
                    <%= button_tag class: "dropdown-item" do%>
                      <i class="bi bi-arrow-repeat"></i>&ensp;Retweet
                    <% end %>
                  <% end %>
                </li>
              <% end %>

              <li id="dropdown-button">
                <%=button_to new_tweet_path, params: { source_id: reply.id, source_type: 'Reply'}, method: :get, class: "dropdown-item", type: "button"  do%>
                  <i class="bi bi-pencil"></i> &ensp;Quote Tweet
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div id='button'>
          <div onclick="event.stopPropagation();" class="dropdown" id="like">
            <button class="reply_button" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-box-arrow-up"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li id="dropdown-button">
                <button class="dropdown-item" type="button">
                  <i class="bi bi-envelope"></i>&ensp;Send via Direct Message
                </button>
              </li>
              <li id="dropdown-button">
                <button class="dropdown-item" type="button">
                  <i class="bi bi-bookmark-plus"></i>&ensp;Bookmark
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</body>





