<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Tweet</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.content %></td>
        <td><%= reply.replyable %></td>
        <td><%= reply.user_id %></td>

        <%= link_to 'Destroy', tweet_reply_path(reply.replyable, reply), method: :delete%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

