<strong><%= link_to @replyable.user.name, user_path(@replyable.user_id)   %></strong>
<small>&ensp;@<%= @replyable.user.username  %></small>
<p><%= @replyable.content %>

  <% if user_signed_in? && current_user.id == @replyable.user_id %>
    <%= link_to 'Edit', edit_tweet_path(@replyable) %>
    <%= link_to 'Destroy', @replyable, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end %></p><br>
<%= render 'form',  replyable: @replyable ,reply: @reply%>

<%= link_to 'Back', "#" %>
