<p id="notice"><%= notice %></p>
<strong><%= link_to @reply.user.name, user_path(@reply.user_id)   %></strong>
<small>&ensp;@<%= @reply.user.username  %></small> <br>
<p><%= @reply.content %>

  <% if user_signed_in? && current_user.id == @reply.user_id %>
    <%= link_to 'Edit', edit_tweet_reply_path(@reply.replyable, @reply) %>
    <%= link_to 'Destroy', tweet_reply_path(@reply.replyable, @reply), method: :delete%>
    <%= link_to 'Show', tweet_reply_path(@reply.replyable, @reply) %>

  <%end %></p><br>


<div id="reply_like_count"> <%= @reply.replies.count %></div>
<div id="reply">
  <%= button_to "Reply", new_reply_reply_path(@reply), method: :get %>
</div> &ensp;&ensp;

<%= render partial: 'replies/form' , locals: { reply: @reply, replyable: @reply}%>

<%= render @reply.replies.order('created_at DESC')%><br>

<%= link_to 'Back', @reply %>
