<p id="notice"><%= notice %></p>

<h1>Convesation Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversation_users.each do |convesation_user| %>
      <tr>
        <td><%= link_to 'Show', convesation_user %></td>
        <td><%= link_to 'Edit', edit_convesation_user_path(convesation_user) %></td>
        <td><%= link_to 'Destroy', convesation_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Convesation User', new_convesation_user_path %>
