<h5>Create a group</h5>
<small>Add people</small>

<% @users.each do |user| %>
  <% conversation_user = @conversation.conversation_users.find_by(user_id: user.id)%>
  <%if @conversation.conversation_users.where(user: user).present? %>
    <%=button_to conversation_user_path(conversation_user), method: :delete, class:'user-button' do%>
      <div id='name'>
        <%= user_avatar(user,'50px' ) %>
        <span class= "link-dark name"><%=user.name%></span>
        <p><small>@<%= user.username  %></small></p> <i class="bi bi-check-lg"></i>
      </div>
    <% end %>
    <% else %>
    <%=button_to conversation_users_path, params: {user_id: user.id, conversation_id: @conversation.id}, method: :post, class:'user-button' do%>
    <div id='name'>
      <%= user_avatar(user,'50px' ) %>
      <span class= "link-dark name"><%=user.name%></span>
      <p><small>@<%= user.username  %></small></p>
    </div>
      <% end %>
  <% end %>
<% end %>
<%  users = User.where(conversation_users: @conversation.conversation_users)%>
<% c_users = ConversationUser.where(users: users).and(ConversationUser.where.not(conversation_id: @conversation.id)) %>
<% conversation_count =  @conversation.conversation_users.count%>
<%  conversation = Conversation.where(conversation_users: c_users).joins(:conversation_users).group("conversation_users.user_id").having("count(conversation_users.id) =?", conversation_count)%>
<% if conversation.present? && (conversation.first.id != @conversation.id )%>
  <%=button_to 'Next', conversation_messages_path(conversation.first),method: :get, class:'user-button'%>
<% else %>
  <% topic = users.map { |p| p.name } %>
  <%=button_to 'Nextz', @conversation, params: {topic: topic.join(', ') }, method: :patch, class:'user-button' %>
<% end %>

