<br><body>
<% @tweets.each do |tweet| %>


  <strong><%= link_to tweet.user.name, user_path(tweet.user_id)   %></strong>
  <small>&ensp;@<%= tweet.user.username  %></small>
  <p><%= tweet.content %>

    <%= link_to 'Show', tweet %>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <%= link_to 'Edit', edit_tweet_path(tweet) %>
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end %>
  <div id="reply_count"> <%= tweet.replies.count %></div>
  <div id="reply">
    <%= button_to "Reply", new_tweet_reply_path(tweet), method: :get %>
  </div> &ensp;&ensp;
  <div id="reply_count"> <%= tweet.likes.count %></div>
    <% like = tweet.likes.find_by(user_id: current_user) %>
  <% if like.present? %>
      <div id="like">
        <%= button_to 'Unlike', like_path(like), method: :delete %>
      </div> &ensp;&ensp;
    <%else %>
      <div id="like">
  <%= button_to 'Like', tweet_likes_path(tweet), method: :post %>
  </div> &ensp;&ensp;
      <%end %>

</p>
  <br>
<p></p>

<% end %> <br>
</body><br> <br>

