<body>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "Edit account", edit_user_registration_path%> &ensp;
  <%end %>
<h1><%= @user.name %></h1>
<h4>@<%= @user.username%></h4>
<%= render 'follow_button' %>

<p><%= @user.followees.count %> Following&emsp;<%= pluralize(@user.followers.count , "Follower") %> </p>

<h3>Tweets</h3>

<hr>

